@charset "ISO-8859-1";

body {
		font-family: Arial, Helvetica, sans-serif;
}

#banniere {
	margin-bottom: 60px;
}

#banniere ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 47px;
	top: 0;
	left: 0;
	position: fixed;
	overflow: hidden;
	background-color: #333;
	width: 100%;
}

#banniere li {
	float: left;
}

#banniere li.right {
	float: right;
}

#banniere li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#banniere li a:hover:not(.active) {
	background-color: #111;
}

#banniere .active {
	background-color: #C21258;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.error {
	background-color: #ffe3ec;
	border-color: #C21258;
	border-width: 3px;
}

.error legend {
	font-weight: bold;
	font-family: "Lucida Handwriting", "Lucida Handwriting", cursive;
	color: #000;
	font-size: 20px;
}

.error p {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	color: #C21258;
}

